<!DOCTYPE html>
<html>
<%- include("head") %>

<body>
  <%- include("title") %>
  <h2>access granted!</h2>
  <div class="reveal">
    <%= message %>
  </div>
  <div>
    <label>password</label><%= password %>
  </div>
  <div>
    Hacked in: <%= attempts.length %>
  </div>
  <% if (locals.attempts) { %>
  <div class="history">
    <h3>History</h3>
    <% attempts.forEach( function(attempt) { %>
    <p><%= attempt.password %>: <%= attempt.hint %></p>
    <% } ) %>
  </div>
  <% } %>
  <p>
    <a href="/">create your code</a>
  </p>
</body>

</html>